// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

// Header
header {
  .wrapper {
    display: flex;
    justify-content: center;
  }
}

// Home
$home-width: 1300px !default;
.wrapper-home {
  max-width: -webkit-calc(#{$home-width} - (#{$spacing-unit}));
  max-width:         calc(#{$home-width} - (#{$spacing-unit}));
}

.home {
  .info {
    padding-top: 6vw;
    padding-bottom: 7vw;
    text-align: center;
  }

  .title {
    color: $text-bright-color;
    font-size: 3em;
    font-weight: 400;
  }

  .masonry {
    margin-top: 30px;
    margin-bottom: 30px;

    .article {
      .title {
        margin-top: 20px;
        margin-bottom: 0px;
        font-size: 1.3em;
        font-weight: 400;
        color: $text-bright-color;
      }

      .description {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 1em;
      }

      img {
        width: 100%;
        min-height: 100px;
      }
    }
  }
}

// Footer
footer {
  .wrapper {
    display: flex;
    justify-content: center;
    font-size: 1em;
  }

  img.heart {
    width: 14px;
    height: 24px;
    padding-left: 6px;
    padding-right: 6px;
  }
}

// Custom
a.text-link {
  position: relative;

  &::after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    width: 0;
    margin: auto;
    background-color: $text-color;
    transition: all 500ms ease;
  }

  &:hover {
    &::after {
      width: 100%;
    }
  }
}

hr {
  background-color: $brand-color-light;
  border: none;
  height: 1px;
  margin-bottom: 20px;
}

.first-large-letter {
  &::first-letter {
    font-size: 3em;
    font-weight: 300;
    color: $text-bright-color;
  }
}

strong, b {
  font-weight: 600;
}

// Responsive
@media screen and (min-width: $on-wide-pc) {
  .home {
    .info {
      padding-top: 85px;
      padding-bottom: 100px;
    }
  }
}
